{% extends "index.html" %}

{% block tabs %}
    {% if page == 'popular' %}
    <li><a href="/">New</a></li>
    <li class="active"><a>Popular</a></li>
    {% elif page == 'new' %}
    <li class="active"><a>New</a></li>
    <li><a href="/popular/">Popular</a></li>
    {% elif page == 'tag' %}
    <li><a href="/">New</a></li>
    <li><a href="/popular/">Popular</a></li>
    <li class="active"><a>Tag: {{ tag }} ({{ questions_count }})</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="thumbnail" id="questions">
        {% for question in questions %}
            {% include "question.html" %}
        {% endfor %}
    </div>
{%  endblock %}

{% block paginator %}
    <ul class="pagination">
    {% if page == 'tag' %}
        <li><a href="/{{ page }}/?t={{ tag.name }}&page=1">&laquo;</a></li>
        {%  for i in page_range %}
            {%  if  i == page_id %}
            <li class="active"><a>{{ i }}</a></li>
            {% else %}
            <li><a href="/{{ page }}/?t={{ tag }}&page={{ i }}">{{ i }}</a></li>
            {%  endif %}
        {%  endfor %}
        <li><a href="/{{ page }}/?t={{ tag }}&page={{ pages_count }}">&raquo;</a></li>
    {% else %}
        <li><a href="/{{ page }}/?page=1">&laquo;</a></li>
        {%  for i in page_range %}
            {%  if  i == page_id %}
            <li class="active"><a>{{ i }}</a></li>
            {% else %}
            <li><a href="/{{ page }}/?page={{ i }}">{{ i }}</a></li>
            {%  endif %}
        {%  endfor %}
        <li><a href="/{{ page }}/?page={{ pages_count }}">&raquo;</a></li>
    {% endif %}
    </ul>
{% endblock %}